body {
  background: #fff;
  font-family: "Myriad Pro Regular", Arial, Verdana, sans-serif;
  font-size: 18px;
}

h1 {
  font-size: 64px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}

h2 {
  font-size: 48px;
  text-transform: uppercase;
  color: #524741;
  text-align: center;
}

h3 {
  font-size: 36px;
  color: #86765d;
}

#header {
  text-align: center;
  .logo {
    padding-top: 65px;
  }
  ul {
    list-style-type: none;
    padding: 40px 0 24px 0;
    margin: 0;
  }
  li {
    display: inline-block;
    a {
      color: #5c856c;
      text-decoration: none;
      text-transform: uppercase;
      padding: 10px;

      &:hover {
        color: #fff;
        background-color: #b88b4d;
      }
    }
  }
}

#welcome {
  background: url(./img/welcome.jpg) no-repeat center center;
  background-size: cover;
  width: 100%;
  min-height: 650px;
  display: table;
  .welcometxt {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
  }
  h2 {
    font-family: "Kepler Std Semicondensed Display", Georgia, serif;
    font-style: italic;
    text-transform: none;
    color: #fff;
  }
}

#about {
  margin: 0 auto;
  width: 1000px;
  .aboutus {
    display: inline-block;
    padding-right: 38px;
    width: 510px;
    p {
      color: #524741;
    }
  }
  img {
    float: right;
    width: 420px;
  }
}

#portfolio {
  width: 100%;
  min-height: 550px;
  background-color: #5c856c;
  h2 {
    color: #fff;
    padding-top: 40px;
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  .row1, .row2 {
    display: inline-block;
  }
  .row1 {
    padding: 0 10px 25px 10px;
  }
  .row2 {
    padding: 25px 10px 50px 10px;
  }
}
